Source: python-marshmallow-dataclass
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Team <team+python@tracker.debian.org>
XSBC-Pexip-Original-Uploaders:
 Jérôme Charaoui <jerome@riseup.net>,
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 pybuild-plugin-pyproject,
 python3-all,
 python3-marshmallow,
 python3-pytest <!nocheck>,
 python3-setuptools,
 python3-typeguard <!nocheck>,
 python3-typing-inspect <!nocheck>,
Standards-Version: 4.6.1
Rules-Requires-Root: no
Homepage: https://github.com/lovasoa/marshmallow_dataclass
Vcs-Git: https://salsa.debian.org/python-team/packages/python-marshmallow-dataclass.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-marshmallow-dataclass
XS-Pexip-Upstream: http://ftp.debian.org/debian/ bookworm

Package: python3-marshmallow-dataclass
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
 python3-typeguard,
Recommends:
 python3-typing-inspect,
Breaks: python3-typing-inspect (<< 0.8.0)
Description: Automatic generation of marshmallow schemas from dataclasses
 Python library to convert dataclasses into marshmallow schemas. It provides
 automatic generation of marshmallow schemas from dataclasses.
